@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "shabnam";
    src: url("../assets/fonts/Shabnam-Medium.ttf") format("ttf"),
      url("../assets/fonts/Shabnam-Medium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "shabnam-bold";
    src: url("../assets/fonts/Shabnam-Bold.ttf") format("ttf"),
      url("../assets/fonts/Shabnam-Bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
}

body {
  background-color: white;
  color: black;
  font-family: "shabnam", sans-serif;
}

nextjs-portal {
  display: none;
}
